<div class="main">
  <form class="new-user-form" action="#" method="POST">
	<input type="hidden" name="action" value="new-user"/>
	<table>
	  <tbody>
		<tr>
		  <td>Create new user</td>
		  <td></td>
		</tr>
		<tr>
		  <td>go back to</td>
		  <td><a href="./admin-user.awk">user list</a> <a href="./admin.awk">admin panel</a> <a href="./index.awk">front page</a></td>
		</tr>
		<tr>
		  <td><label for="username">Username: </label></td>
		  <td><input name="username" id="username" /></td>
		</tr>
		<tr>
		  <td><label for="password">Password: </label></td>
		  <td><input name="password" id="password" type="password" /></td>
		</tr>
		<tr>
		  <td></td>
		  <td><input type="submit" value="Register" /></td>
		</tr>
	  </tbody>
	</table>
  </form>
</div>


