<form id="comment-form" hx-post="___component_comment_form.awk"
	  hx-target="#comment-list" hx-swap="innerHTML transition:true">
  <input type="hidden" name="article-id" value="{{ArticleID}}" />
  <table>
	<tr>
      <td><label for="name">Name:</label></td>
      <td><input name="name" id="name" /></td>
	</tr>
    <tr>
	  <td><label for="email">Email:</label></td>
      <td><input name="email" id="email" /></td>
	</tr>
	<tr>
      <td><label for="website">Website:</label></td>
      <td><input name="website" id="website" /></td>
	</tr>
	<tr>
      <td><label for="content">Content:</label></td>
      <td><textarea name="content" id="content"></textarea></td>
	</tr>
	<tr>
	  <td></td>
	  <td><input type="submit" value="Submit"  /></td>
	</tr>
  </table>
</form>
