<!DOCTYPE html>
<html>
  <head>
	<title>Login</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css" />
  </head>
  <body>
	<div class="login-form">
	  <form action="#" method="POST">
		<table>
		  <tbody>
			<tr>
			  <td><label for="username">Username: </label></td>
			  <td><input name="username" id="username" /></td>
			</tr>
			<tr>
			  <td><label for="password">Password: </label></td>
			  <td><input name="password" id="password" type="password" /></td>
			</tr>
			<tr>
			  <td></td>
			  <td><input type="submit" value="Login" /></td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</div>
  </body>
</html>

