<div class="error-msg">{{ErrorMsg}}</div>
<form hx-post="___component_register_form.awk" hx-swap="transition:true">
  <table>
	<tbody>
	  <tr>
		<td><a href="./index.awk">back</a></td>
		<td></td>
	  </tr>
	  <tr>
		<td><label for="username">Username: </label></td>
		<td><input name="username" id="username" /></td>
	  </tr>
	  <tr>
		<td><label for="password">Password: </label></td>
		<td><input name="password" id="password" type="password" /></td>
	  </tr>
	  <tr>
		<td></td>
		<td><input type="submit" value="Register" /></td>
	  </tr>
	</tbody>
  </table>
</form>

